parameters:
    level: 9
    paths:
        - src
    excludePaths:
        - ecs.php
        - src/Generator
        - src/FrameworkBridge/Symfony/DependencyInjection/OpenClassroomsServiceProxyExtension.php
        - src/FrameworkBridge/Symfony/DependencyInjection/Configuration.php
    ignoreErrors:
        - '/Constructor in .+ has parameter .+ with default value./'
        - '/Method .+ has parameter .+ with null as default value./'
        - '/Method .+ has a nullable return type declaration./'
        - '/Method .+ has parameter .+ with a nullable type declaration./'
        - '/Language construct isset\(\) should not be used./'
        - '/.+ is not allowed to extend ".+"./'
        - '/Method .+OpenClassroomsServiceProxyBundle.+ has a parameter \$container/'
        - '/Method .+ServiceProxyPass.+ has a parameter \$container/'

    exceptions:
        check:
            missingCheckedExceptionInThrows: true
            tooWideThrowType: true
        uncheckedExceptionClasses:
            - RuntimeException
            - LogicException
            - JsonException
            - PHPUnit\Framework\Exception
            - ReflectionException
            - Psr\Cache\CacheException
