parameters:
    level: 10
    paths:
        - src
    excludePaths:
        - ecs.php
        - src/Generator
        - src/FrameworkBridge/Symfony/DependencyInjection/OpenClassroomsServiceProxyExtension.php
        - src/FrameworkBridge/Symfony/DependencyInjection/Configuration.php
    ignoreErrors:
        - '/Call to static method Webmozart\\Assert\\Assert::allIsInstanceOf\(\) with/'
        - '/Call to function array_filter\(\) requires parameter #2/'
        - '/Only iterables can be unpacked, mixed given/'
        - '/Method OpenClassrooms\\ServiceProxy\\FrameworkBridge\\Symfony\\Messenger\\Transport\\Serialization\\MessageSerializer::encode/'
        - '/Binary operation "." between non-falsy-string and mixed results in an error/'
        - '/Method OpenClassrooms\\ServiceProxy\\Model\\Request\\Method::getAttributes\(\) should return array<ReflectionAttribute<T of OpenClassrooms\\ServiceProxy\\Annotation\\Annotation>>/'
    exceptions:
        check:
            missingCheckedExceptionInThrows: true
            tooWideThrowType: true
        uncheckedExceptionClasses:
            - RuntimeException
            - LogicException
            - JsonException
            - PHPUnit\Framework\Exception
            - ReflectionException
            - Psr\Cache\CacheException
    strictRules:
        booleansInConditions: false
