<?php

declare(strict_types=1);

namespace __NAMESPACE__;

class __CLASS_NAME__
{
    __CLASS_PROPERTIES__

    __METHOD_ATTRIBUTE__
    /**
     __METHOD_PHPDOC__
     */
    public function __METHOD_NAME__(__METHOD_ARGS__)__METHOD_RETURN_TYPE__
    {
        __METHOD_BODY__
    }
}
